
    <ul class="nav">
    <li>
      <%= link_to new_message_path do %>
        <%= '>' if controller.action_name == 'new' %> New Message
      <% end %>
    </li>
    <li>
      <%= link_to conversations_path(box: :inbox) do %>
        <%= '>' if params[:box] == 'inbox' %> Inbox
      <% end %>
    </li>
    <li>
      <%= link_to conversations_path(box: :sentbox) do %>
        <%= '>' if params[:box] == 'sentbox' %>Sent
      <% end %>
    </li>
    <li>
      <%= link_to conversations_path(box: :trash) do %>
        <%= '>' if params[:box] == 'trash' %>Trash
      <% end %>
    </li>
    </ul>
