
<h3> add an instrument to your profile? <h3>
  <%= form_for @current_user do |f|  %>
    <% Instrument.all.each do |instrument| %>
      <%= check_box_tag "user[instrument_id][]", instrument.id, @current_user.instrument_ids.include?(instrument.id), id: dom_id(instrument) %>
      <%=label_tag dom_id(instrument),  instrument.name %> <br> 
    <% end %>
<h2> generes </h2>
    <% Genere.all.each do |genere| %>
      <%= check_box_tag "user[genere_id][]", genere.id, @current_user.genere_ids.include?(genere.id), id: dom_id(genere) %>
      <%=label_tag dom_id(genere),  genere.name %> <br> 
    <% end %>


    <%= f.submit %>
  <% end %>
  

