<p>
<%= link_to "find people map?", show_map_path %>
</p>
<p>
<%= link_to "Browse instruments", instruments_path %>
</p>
<p>
<%= link_to "Browse generes", generes_path %>
</p>
<h1>Jam_With_Friends</h1>
<h2>Your place to find cool people to jam with</h2>
<p>Here's a list </p>

<ul><% @users.each do |user| %>
<li><%= user.name %> <%= user.location.address %> <%= user.generes.collect {|g| g.name} %> <%= user.instruments.collect {|g| g.name} %></li>
<% end %></ul>

<br>
<%= form_tag search_path, method: :get do %>
<%= label_tag :instrument %>
<%= text_field_tag :instrument, "bass, guitar, ..."%>
<%= submit_tag 'Search by instrument'%>
<% end %>
<br>


