<p>
<%= link_to "find people map?", show_map_path %>
</p>
<p>
<%= link_to "Browse instruments", instruments_path %>
</p>
<p>
<%= link_to "Browse generes", generes_path %>
</p>
<h1>Jam_With_Friends</h1>
<h2>Your place to find cool people to jam with</h2>
<p>Here's a list </p>
<ul><% @location.nearbys(@radius_search.to_i).each do |location| %>
<li><%= location.user.name %> <%= location.address %> <%= location.user.generes.collect {|g| g.name} %> <%= location.user.instruments.collect {|g| g.name} %></li>
<% end %></ul>


