<p>
<%= link_to "Browse instruments", instruments_path %>
</p>
<p>
<%= link_to "Browse generes", generes_path %>
</p>
<h1>Jam_With_Friends</h1>
<h2>Your place to find cool people to jam with</h2>
<p>Here's a list </p>

<ul><% @users.each do |user| %>
<li><%= link_to user.name, "/users/show_other_profile/#{user.id}" %> <%= user.location.address %> <%= user.generes.collect {|g| g.name} %> <%= user.instruments.collect {|g| g.name} %></li>
<% end %></ul>
<br>

<h2>Do a search? </h2>
<%= form_tag search_path, method: :get do %>
<h3> Instruments </h3>
  <%= check_box_tag "search[instrument_id][]", "all", :checked %>
  <%= label_tag "All Instruments" %> <br>
  <% Instrument.all.each do |instrument| %>
  <%= check_box_tag "search[instrument_id][]", instrument.id %>
  <%= label_tag dom_id(instrument), instrument.name %> <br>
  <% end %>
<h3> Generes </h3>
  <%= check_box_tag "search[genere_id][]", "all", :checked %>
  <%= label_tag "All generes" %> <br>
  <% Genere.all.each do |genere| %>
  <%= check_box_tag "search[genere_id][]", genere.id %>
  <%= label_tag dom_id(genere),  genere.name %> <br> 
   <% end %>
<h3> Geometrical </h3>
    <%= label_tag "Address" %>
    <%= text_field_tag "search[location][address][]", "#{@location.address}"%>
    <br>
    <%= label_tag "Radius" %>
    <%= text_field_tag "search[location][radius][]", "20" %>
    <br>
<%= submit_tag 'Search'%>
<% end %>
<br>


