<h3>Jam!!!</h3>
<p>When: <%= @jam.date %></p>
<p>Where: <%= @jam.location.address %></p>
<p>Organisers: <%= @jam.user.name %></p>
<p>Instruments:</p>
<ul>
  <% @jam.candidate_instruments.uniq.each do |i| %>
    <li><%= i.name %></li>
  <% end %>
</ul>
<p><%= link_to "back to jams", jams_path %></p>