<h1><%= @instrument.name %></h1>
<p><%= link_to "edit the instrument", edit_instrument_path %>
<p><%= link_to "delete this instrument", instrument_path, confirm: "are you sure",  method: :delete %></p>
<%= image_tag @instrument.photo.url, class: "profile-image-inner" %>
<%= link_to "Back to all instruments", instruments_path %>
<%= link_to "Back home", root_path %>