<h1><%= @genere.name %></h1>
<p><%= link_to "edit the genere", edit_genere_path %>
<p><%= link_to "delete this genere", genere_path, confirm: "are you sure",  method: :delete %></p>
<%= link_to "Back to all generes", generes_path %>
<%= link_to "Back home", root_path %>
