
<h3> add an instrument to your profile? <h3>
<%= form_for @current_user, :url => { :id => @current_user.id, :action => "update"}, :html => { :method => :put } do |f|  %>
    <h2> instruments </h2>
    <% Instrument.all.each do |instrument| %>
      <%= check_box_tag "user[instrument_id][]", instrument.id, @current_user.instrument_ids.include?(instrument.id), id: dom_id(instrument) %>
      <%=label_tag dom_id(instrument),  instrument.name %> <br> 
    <% end %>
    <p>
    <%= link_to "Add a new Insturment", new_instrument_path %>
    </p>
    <h2> generes </h2>
    <% Genere.all.each do |genere| %>
      <%= check_box_tag "user[genere_id][]", genere.id, @current_user.genere_ids.include?(genere.id), id: dom_id(genere) %>
      <%=label_tag dom_id(genere),  genere.name %> <br> 
    <% end %>
    <p>
    <%= link_to "Add a new genere", new_genere_path %>
    </p>
    <h2> location </h2>
    <%= f.label :location %>
    <%= f.text_field :location, value: "#{@current_user.location.address}" %>
    <br>
    <%= f.label :radius %>
    <%= f.text_field :radius, value: "#{@current_user.location.radius}" %>
    <br>
    <%= f.submit %>
  <% end %>
  

