<h2><%= @user.name %> </h2>
<%= image_tag @user.photo.url, width: 150 %>
<h3> Instruments </h3>
<% if @user.instrxps != nil %>
  <% @user.instrxps.each do |instrxp| %>
    <p><%= instrxp.instrument.name %> since <%= instrxp.since %><%= image_tag instrxp.instrument.photo.url, class: "instrument-image" %></p>
  <% end %>
<% else %>
 <p>No insturments yet...</p>
<% end %>

<h3> Genres </h3>
<% if @user.genres != nil %>
  <% @user.genres.each do |genres| %>
    <p><%= genres.name %></p>
  <% end %>
<% else %>
  <p>No genres yet....</p>
<% end %>

<h3> Location </h3>
<% if @user.location != nil %>
  <p>Address: <%= @user.location.address %></p>
  <p>Radius: <%= @user.location.radius %>   (miles)</p>
<% else %>
<p>no location yet...</p>
<% end %>
<% if user_signed_in?  %>
   <%= link_to :contact, new_message_path(:receiver => "#{@user.id}") %>
 <% else %>
  <%= link_to content_tag(:span, "contact"), new_user_registration_path %>
 <% end %>


