<h2><%= @user.name %> </h2>
<h3> Instruments </h3>

<% if @user.instruments != nil %>
  <% @user.instruments.each do |instrument| %>
    <p><%= instrument.name %></p>
  <% end %>
<% else %>
 <p>No insturments yet...</p>
<% end %>

<h3> Generes </h3>
<% if @user.generes != nil %>
  <% @user.generes.each do |generes| %>
    <p><%= generes.name %></p>
  <% end %>
<% else %>
  <p>No generes yet....</p>
<% end %>

<h3> Location </h3>
<% if @user.location != nil %>
  <p>Address: <%= @user.location.address %></p>
  <p>Latitude: <%= @user.location.latitude %></p>
  <p>Longitude: <%= @user.location.longitude %></p>
  <p>Radius: <%= @user.location.radius %>   (miles)</p>
<% else %>
<p>no location yet...</p>
<% end %>


