<h2><%= @user.name %> </h2>
<h3> Instruments </h3>

<% if current_user.instruments.empty? %>
 <p>No insturments yet...</p>
 <%= link_to "add instruments to become searcheable!", edit_profile_path(current_user)  %>
<% else %>
  <% current_user.instrxps.each do |xp| %>
    <p><%= xp.instrument.name %>, played since <%= xp.since %></p>
  <% end %> 
<% end %>

<h3> Generes </h3>
<% if current_user.generes.empty? %>
  <p>No generes yet....</p>
 <%= link_to "add generes to become searcheable!", edit_profile_path(current_user)  %> 
<% else %>
  <% current_user.generes.each do |generes| %>
  <p><%= generes.name %></p>
  <% end %>
<% end %>

<h3> Location </h3>
<% if current_user.location != nil %>
  <p>Address: <%= current_user.location.address %></p>
  <p>Radius: <%= current_user.location.radius %>   (miles)</p>
<% else %>
 <p>no location yet...</p>
<% end %>
<% if current_user.eql?(@user) %>
<%= link_to "edit profile", edit_profile_path(current_user)  %>
<%= link_to "password reset", edit_user_registration_path %>
<% end %>

