<!DOCTYPE html>
<html>
<head>
  <title>JamWithFriends</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <% if user_signed_in? %>
   <nav class="navbar navbar-default" role="navigation">
      <ul class="nav navbar-nav navbar-right">  
        <li>
        <%= link_to "#{current_user.name}", profile_path(current_user)%>
        </li>
        <li>
          <%= link_to "log out", destroy_user_session_path, method: :delete %>
        </li>        
      </ul>
   </nav> 
  <% else %>
   <nav class="navbar navbar-default" role="navigation">
      <ul class="nav-pills navbar-right">  
        <li>
          <%= link_to content_tag(:span,  "sign in", class: "navtop"), new_user_session_path %>
        </li>
        <li>
          <%= link_to content_tag(:span, "sign up", class: "navtop"), new_user_registration_path %>
        </li>        
      </ul>
   </nav> 
  <% end %>
<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="alert alert-<%= name == :notice ? "success" : "danger" %>">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
  <% end %>
<% end %>


<div class="row">
  <div class="jumbotron">
    <div class="col-md-3">
     <%= link_to "Jam With Friends", root_path %> 
    </div>
    <%= form_tag search_path, method: :get do %> 
    <div class="col-md-3">
      <%= text_field_tag "search[find]"%>
    </div>
    <div class="col-md-3">
      <%= text_field_tag "search[location]", "#{@location_search}"%>
    </div>
    <div class="col-md-3">
      <%= submit_tag 'Find awesome people'%>
    </div>
    <% end %>
  </div>    
</div>
  <%= yield %>
</div>
</body>
</html>
